set input opts card-idx=0
set obe opts system-type=lowestlatency
set input opts smpte2038=0,scte35=1,vanc-cache=0,bitstream-audio=1,frame-injection=1,allow-1080p60=1
set input decklink
probe input
set stream opts 1:bitrate=256,format=mp2
set stream opts 0:intra-refresh=1,vbv-maxrate=18200,bitrate=18200,threads=4
set mux opts ts-muxrate=20000000,cbr=1,service-name=LTN Service,provider-name=LTN,ts-type=atsc
remove stream 8
remove stream 7
remove stream 6
remove stream 5
remove stream 4
remove stream 3
remove stream 2
set outputs 1
set output opts 0:type=srt,target=udp://192.168.2.45:25123
set variable video_encoder.sei_timestamping = 1
#set variable codec.x265.nal_debug = 4
#set variable core.runtime_statistics_to_file = 2
#set variable ancillary.disable_captions = 1
#set variable scte104.filter.add = pid = 257, AS_index = all, DPI_PID_index = 1
#set variable scte104.filter.add = pid = 258, AS_index = all, DPI_PID_index = 80
set variable srt_output.console_stats = 0
set variable srt_output.latency_ms = 200
# SCTE104 debug enabled
#set verbose 0x2
start

